body {
	background-image: url("white-gradient-3-1920x1080.jpg");
}

h1 {
	color: black;
	text-align: center;
	text-decoration: underline;
}

#top {
	width: 300px;
	margin: auto;
}

label {
	float: left;
	clear: both;
	font-family: cursive;
}


input {
	float: right;
	width: 50%;
}

#test {
	float: left;
}


select {
	float:right;
}

#testtext{
	float:right;
	font-family: cursive;
}


legend{
	text-align:center;
}
