body {
	background-image: url("white-gradient-3-1920x1080.jpg");
}

h1 {
	color: black;
	text-align: center;
	text-decoration: underline;
}

#top {
	width: 300px;
	margin: auto;
}

label {
	float: left;
	clear: both;
}


input {
	float: right;
}

#test {
	float: left;
}
